body{
    padding: 20px 5px 20px 20px;
    margin-left: 150px;
    margin-top: 70px;
}

.background{
    background-image: url(background.jpg);
    background-repeat:repeat;
}

.title{
    font-size: 30px;
    font-family:"Comic Sans MS";
    color:Black;
}

.author{
    font-size: 15px;
    font-family:"Bradley Hand";
    color:darkslategray;
}
.subContent{
    font-size: 20px;
    font-family:"times";
    color:black;
    width:800px;
    background-color: rgba(255, 179, 55, 0.21);
    background-clip: padding-box;
}
.link{
    font-size: 20px;
    font-family:"Calibri";
    color:grey;
}
.linkbutton{
    border: 1px solid rgba(255, 84, 152, 0.12);
    font-size: 10px;
    font-family:"Comic Sans MS";
}


.nameinput{
    border: 1px solid rgba(255,255,255,.5);
    background-color:rgba(0,0,0,0.2);
    background-clip: padding-box;
    font-size: 20px;
    font-family:"Comic Sans MS";
}

.linkinput{
    border: 1px solid rgba(255,255,255,.5);
    background-color:rgba(0,0,0,0.2);
    background-clip: padding-box;
    font-size: 20px;
    font-family:"Comic Sans MS";
}

.contentinput{
    border: 1px solid rgba(255,255,255,.5);
    background-color:rgba(0,0,0,0.2);
    background-clip: padding-box;
    font-size: 20px;
    font-family:"Comic Sans MS";
    height:300px;
    width: 700px;
}

.upload{
    width:800px;
    background-color: rgba(255, 179, 55, 0.21);
    background-clip: padding-box;
}

.uploadbutton{
    border: 1px solid rgba(255, 74, 147, 0.63);
    font-size: 10px;
    font-family:"Comic Sans MS";
    display: inline;
}

.default{
    border:1px solid lightblue;
    position:absolute;
    width:200px;
    right:20px;
    top: 20px;
    text-align:center;
    font-family: "American Typewriter";
    font-size: 10px;
}

.flowershow{
    font-size: 20px;
    font-family: "American Typewriter";
    text-align: left;
}
